.shiny-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: #FFFFFF;
  font-size: 9px;
  background-color: #006BCF;
  background-image: -webkit-linear-gradient(top, #006ed4 0%, #197fdf 48%, #006BCF 49%, #006BCF 82%, #0079eb 100%);
  background-image: -moz-linear-gradient(top, #006ed4 0%, #197fdf 48%, #006BCF 49%, #006BCF 82%, #0079eb 100%);
  background-image: -o-linear-gradient(top, #006ed4 0%, #197fdf 48%, #006BCF 49%, #006BCF 82%, #0079eb 100%);
  background-image: linear-gradient(top, #006ed4 0%, #197fdf 48%, #006BCF 49%, #006BCF 82%, #0079eb 100%);
  border-color: hsl(209, 40%, 41%);
  -webkit-box-shadow: inset 0 0 1px 1px #1c92ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #1c92ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #1c92ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #003669;
  -moz-text-shadow: 1px 1px 1px #003669;
  -o-text-shadow: 1px 1px 1px #003669;
  text-shadow: 1px 1px 1px #003669;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  padding: 12px 30px 12px 30px;
}

.shiny-button strong {
  letter-spacing: 1px;
  font-size: 17px;
}

.shiny-button:hover {
  color: #FFFFFF;
  background-color: #0073de;
  background-image: -webkit-linear-gradient(top, #0076e3 0%, #2087e6 48%, #0073de 49%, #0073de 82%, #0082fa 100%);
  background-image: -moz-linear-gradient(top, #0076e3 0%, #2087e6 48%, #0073de 49%, #0073de 82%, #0082fa 100%);
  background-image: -o-linear-gradient(top, #0076e3 0%, #2087e6 48%, #0073de 49%, #0073de 82%, #0082fa 100%);
  background-image: linear-gradient(top, #0076e3 0%, #2087e6 48%, #0073de 49%, #0073de 82%, #0082fa 100%);
  border-color: hsl(209, 41%, 44%);
  -webkit-box-shadow: inset 0 0 1px 1px #2697ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #2697ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #2697ff, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #003e78;
  -moz-text-shadow: 1px 1px 1px #003e78;
  -o-text-shadow: 1px 1px 1px #003e78;
  text-shadow: 1px 1px 1px #003e78;
}

.shiny-button:active {
  color: #FFFFFF;
  background-color: #0063c0;
  background-image: -webkit-linear-gradient(top, #005eb6 0%, #006BCF 100%);
  background-image: -moz-linear-gradient(top, #005eb6 0%, #006BCF 100%);
  background-image: -o-linear-gradient(top, #005eb6 0%, #006BCF 100%);
  background-image: linear-gradient(top, #005eb6 0%, #006BCF 100%);
  padding: 13px 30px 11px 30px;
}
